.card-curso {
  display: flex;
  background: #8250f8;
  border-left: 8px solid var(--purple-vivo);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  transition: 0.3s;
  color: #ffff;
}

.card-curso:hover {
  transform: translateY(-4px);
}

.capa-curso {
  background-color: rgba(255, 255, 255, 0.05);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.link-curso {
  display: inline-block;
  background-color: #f06497;
  width: 40%;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin-left: 14px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
  margin-bottom: 10px;
  text-align: center;
}

.link-curso:hover {
  background-color: #d95386;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(240, 100, 151, 0.5);
}

.info {
  padding: 0 16px;
}
