.gradient-button {
    background: linear-gradient(90deg, #b12eff 0%, #7c00f5 100%);
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 18px;
    width: 100%;
}

.gradient-button:hover {
    background: linear-gradient(90deg, #a01eea 0%, #6a00d3 100%); 
}