.categoria-card-novo {
   background: linear-gradient(135deg, var(--purple-vivo), var(--second-purple));
  color: #fff;
  border-radius: 16px;
  min-height: 18vh;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-card-novo:hover {
  transform: scale(1.03);
}

.custom-btn {
  background-color: #f06497;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  margin: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-btn:hover {
  background-color: #d95386;
}

.card-link {
  text-decoration: none;
}
