.feedback-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 48px;
  background-color: #f0edff;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.feedback-container h2 {
  color: var(--purple-vivo);
  font-size: 24px;
  text-align: center;
  width: 100%;
  align-self: flex-start;
}

.feedback-container form {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  gap: 20px;
}

.feedback-container label {
  font-weight: 500;
}

.feedback-container textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  min-height: 80px;
  font-size: 14px;
  font-family: inherit;
  outline: none;
}

.rating {
  display: flex;
  flex-direction: row; 
  gap: 12px;
  margin: 16px 0;
}


.rating .rating-button {
  background: #a56dff !important;
  border: none !important;
  padding: 12px !important;
  font-weight: bold;
  border-radius: 10px !important;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.2s;
  min-width: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.rating .rating-button:hover {
  background-color: #9257e6 !important;
  color: #fff;
}

.rating .rating-button.selected {
  background-color: var(--purple-vivo) !important;
  color: #fff;
}

@media (max-width: 768px) {
  .feedback-container {
    padding: 24px;
    height: auto;
    border-radius: 16px;
    gap: 20px;
  }

  .feedback-container h2 {
    font-size: 20px;
    text-align: center;
    align-self: center;
  }

  .feedback-container form {
    width: 100%;
    margin-left: 0;
    gap: 16px;
  }

  .feedback-container textarea {
    font-size: 14px;
    padding: 10px;
    min-height: 70px;
  }

  .rating {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .rating .rating-button {
    width: 60px;
    height: 60px;
    font-size: 14px;
    padding: 10px;
  }
}
